
@{
    ViewBag.Title = "LoginAdmin";
    Layout = null;
}


<title>Login </title>
<link href="~/Areas/Admin/Data/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="~/Areas/Admin/Data/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="~/Areas/Admin/Data/css/ruang-admin.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&amp;display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/Areas/Admin/Data/ckeditor/ckeditor.js"></script>

<div class="my-account pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="title text-capitalize mb-30 pb-25"> Log in to your account</h3>
                <form class="log-in-form">
                    <div class="form-group row pb-3 text-center">
                        <div class="col-md-6 offset-md-3">
                            <div class="login-form-links">
                                <label name="thongbao" id="thongbao" style="color:red" class="for-get" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-md-3 col-form-label">Email</label>
                        <div class="col-md-6">
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-md-3 col-form-label">Password</label>
                        <div class="col-md-6">
                            <div class="input-group mb-2 mr-sm-2">
                                <input type="password" class="form-control" name="password" id="password">
                                <div class="input-group-prepend">
                                    <button type="button" name=""
                                            class="input-group-text  theme-btn--dark1 btn--md show-password">
                                        show
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group row pb-3 text-center">
                        <div class="col-md-6 offset-md-3">
                            <div class="login-form-links">
                                <a href="#" class="for-get">Forgot your password?</a>
                                <div class="sign-btn">
                                    <button type="button" class="btn theme-btn--dark1 btn--md" name="dangnhap" id="dangnhap">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row text-center mb-0">
                        <div class="col-12">
                            <div class="border-top">
                                <a href="register.html" class="no-account">No account? Create one here</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if (Session["Logout"] != null)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Logout Success !!',
            showConfirmButton: false,
            timer: 1600
        })
    </script>
    Session.Remove("Logout");
}


<script>



    $(document).on('click', "button[name='dangnhap']", function () {

        var _username = $("#username").val();
        var _password = $("#password").val();

        $.ajax({
            url: '/Admin/Admin/CheckLoginAdmin',
            type: 'post',
            data: {
                username: _username,
                password: _password,
            },
            success: function (data) {
                if (data.code == 200) {
                    window.location = data.url;
                    console.log(data.msg);
                    console.log(data._user);

                } else {
                    console.log(data.msg);
                    $("#thongbao").empty();
                    $("#thongbao").append(data.msg);
                }
            }
        })
    });

</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-10"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-120946860-10', { 'anonymize_ip': true });
</script>
<script src="~/Areas/Admin/Data/vendor/jquery/jquery.min.js"></script>
<script src="~/Areas/Admin/Data/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Areas/Admin/Data/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Areas/Admin/Data/vendor/chart.js/Chart.min.js"></script>
<script src="~/Areas/Admin/Data/js/ruang-admin.min.js"></script>
<script src="~/Areas/Admin/Data/js/demo/chart-area-demo.js"></script>
<script src="~/Areas/Admin/Data/js/demo/chart-bar-demo.js"></script>
<script src="~/Areas/Admin/Data/js/demo/chart-pie-demo.js"></script>

<script src="~/Areas/Admin/Data/js/ruang-admin.js"></script>
<script src="~/Areas/Admin/Data/ckeditor/ckeditor.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")


